@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.page{
    width: 30%;
    display: flex;
    margin-left: 35%;
    margin-top: 6%;
    font-family: 'Poppins', sans-serif;
}

.container {flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
  }
  
  .input-field:focus {
    border-color: #007bff; /* Blue color */
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .submit-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left:30%;
    margin-bottom: 5px;
  }
  
  .submit-button:hover {
    background-color: #0056b3; /* Darker blue */
  }
  